
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body style="height: 764px; display: flex; justify-content: center; align-items: center;">
    <div >
        <h1 style="color:#C19D60;">Your Card details are processed...</h1>
    </div>
   
</body>
</html>
