@model Order

@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> usermanager
@inject Restabook.Services.LayoutViewModelService service
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Setting setting = service.GetSettings();



}

<!-- section intro starts -->
<section id="check-intro" style="        background-image: url(../../assets/images/checkout/bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p>Enjoy your time in our restaurant with pleasure.</p>
                    <h1 class="text-white">About our Restaurant</h1>
                    <div class="dots">
                        <ul class="list-unstyled justify-content-center">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-down d-flex justify-content-center">
                    <div class="text-white mouse">
                        <div class="yellow-dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section intro ends -->
<!-- section checkout starts -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="information">
                    <p>Your Information</p>
                    <form class="row g-3" method="post" asp-action="checkout">
                        <div class="col-md-6">

                            <input type="text" class="form-control check-name" id="Name" name="Name"  placeholder="Your Name*">
                            
                        </div>
                        <div class="col-md-6">

                            <input type="email" class="form-control check-email" id="Email" name="Email" placeholder="Email*">
                        </div>
                        <div class="col-md-6">

                            <input type="text" class="form-control check-phone" id="Phone" name="Phone" placeholder="Phone*">
                        </div>
                        <div class="col-md-6">

                            <input type="text" class="form-control check-city" id="City" name="City" placeholder="City*">
                        </div>
                        <div class="col-md-6">

                            <input type="text" class="form-control check-country" id="Country" name="Country" placeholder="Country*">
                        </div>
                        <div class="col-md-6">

                            <input type="text" class="form-control check-code" id="PostalCode" name="PostalCode" placeholder="Postal Code*">
                        </div>

                        <div class="col-md-12">

                            <p>Payment menthod</p>
                        </div>

                        

                        <div class="col-md-6">

                            <input type="text" class="form-control card-name" id="CardName" name="CardName" placeholder="Cardholder's Name">
                        </div>
                        <div class="col-md-6">

                            <input  class="form-control card-number" id="CardNumber" name="CardNumber" min="0" step="1" placeholder="Card Number*">
                        </div>
                        <div class="col-md-3">

                            <input  class="form-control card-mm" id="MM" name="MM" min="0" step="1" placeholder="MM*">
                        </div>
                        <div class="col-md-3">

                            <input  class="form-control card-yy" id="YY" name="YY" placeholder="YY*">
                        </div>
                        <div class="col-md-3 pr-0">

                            <input  class="form-control card-cvv" id="CVV" name="CVV" placeholder="***">

                        </div>
                        <div class="col-md-3">
                            <small>*Three digits number on the back of your card</small>
                        </div>
                        <div class="form-group col-md-12">

                            <textarea class="form-control card-text" id="AdditionalNotes" name="AdditionalNotes" rows="3" placeholder="Additional notes"></textarea>
                        </div>
                        <div class="form-group col-md-12 text-center">

                            <span class="card-success">Payment requested from bank</span>
                        </div>
                        <div class="form-group col-md-12 text-center">

                            <div class="pay d-flex justify-content-center">
                                <button  type="submit" class="pay-btn">Confirm and Pay<i class="icon fal fa-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="totals">
                    <div class="total-inner">
                        <h5>Cart totals</h5>
                        <ul class="list-unstyled">
                            <li class="d-flex justify-content-between"><p>Cart Subtotal:</p><span>$@Model.TotalPrice</span></li>
                            @if (Model.TotalPrice > 0)
                            {
                                <li class="d-flex justify-content-between"><p>Shipping Total:</p><span>$@setting.ShippingCost</span></li>
                                <li class="d-flex justify-content-between"><p>Total:</p><span>$@(Model.TotalPrice+setting.ShippingCost)</span></li>
                            }
                            else
                            {
                                <li class="d-flex justify-content-between"><p>Shipping Total:</p><span>$0</span></li>
                                <li class="d-flex justify-content-between"><p>Total:</p><span>$0</span></li>
                            }


                        </ul>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec_2.png);">
    </div>
</section>
<!-- section checkout ends -->
