.navbar{

    ul{
        li{
            font-family: $secondaryFont;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            margin-right: 25px;
        }
    }
}