
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section intro starts -->
<section id="cart-intro" style="        background-image: url(~/../assets/images/cart/bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p>Order food with home delivery</p>
                    <h1 class="text-white">Your Cart</h1>
                    <div class="dots">
                        <ul class="list-unstyled justify-content-center">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-down d-flex justify-content-center">
                    <div class="text-white mouse">
                        <div class="yellow-dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section intro ends -->
<!-- section cart starts -->
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="table">
                    <p>Your Cart <span>3 items</span></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="bg-light">Item</th>
                                <th scope="col">Description</th>
                                <th scope="col" class="bg-light">Price</th>
                                <th scope="col">Count</th>
                                <th scope="col" class="bg-light">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="p-1 text-center bg-light">
                                    <img src="./assets/images/menu/1.jpg"
                                         class="img-fluid" style="width: 50px; height: auto;" alt="">
                                </th>
                                <td>Grilled Steaks</td>
                                <td class="bg-light">
                                    $22
                                </td>
                                <td><input type="number" style="border: 0;width: 35px;" value="1"></td>
                                <td class="bg-light">$22.00</td>
                                <td><i class="fas fa-times remove-btn"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1 text-center bg-light">
                                    <img src="./assets/images/menu/2.jpg"
                                         class="img-fluid" style="width: 50px; height: auto;" alt="">
                                </th>
                                <td>Grilled Steaks</td>
                                <td class="bg-light">
                                    $22
                                </td>
                                <td><input type="number" style="border: 0;width: 35px;" value="1"></td>
                                <td class="bg-light">$22.00</td>
                                <td><i class="fas fa-times remove-btn"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-1 text-center bg-light">
                                    <img src="./assets/images/menu/3.jpg"
                                         class="img-fluid" style="width: 50px; height: auto;" alt="">
                                </th>
                                <td>Grilled Steaks</td>
                                <td class="bg-light">
                                    $22
                                </td>
                                <td><input type="number" style="border: 0;width: 35px;" value="1"></td>
                                <td class="bg-light">$22.00</td>
                                <td><i class="fas fa-times remove-btn"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="apply d-flex justify-content-between mt-5">
                    <div class="coupon d-flex">
                        <input class="form-control" type="text" placeholder="Coupon code"> <a href="#"
                                                                                              class="apply-btn btn">Apply</a>
                    </div>
                    <a href="#" class="update-btn btn">Update Cart</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="totals">
                    <div class="total-inner">
                        <h5>Cart totals</h5>
                        <ul class="list-unstyled">
                            <li class="d-flex justify-content-between">
                                <p>Cart Subtotal:</p><span>$240.00</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>Shipping Total:</p><span>$12.00</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>Total:</p><span>$252.00</span>
                            </li>
                        </ul>
                        <div class="proceed">
                            <a href="" class="proceed-btn">Proceed to Checkout</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="background-image: url(~/../assets/images/section-footer/brush-dec_2.png);">
    </div>
</section>
<!-- section cart ends -->
