
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section discover starts -->
<section id="discover" style="        background-image: url(~/../assets/images/opening/plate.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p>Special menu offers.</p>
                    <h1 class="text-white">Discover Our menu</h1>
                </div>
                <div class="dots">
                    <ul class="list-unstyled justify-content-center">
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section discover ends -->
<!-- section  menus starts -->
<section id="menus">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 offset-lg-2">
                <div class="menu-tabs">
                    <ul class="list-unstyled">
                        <li href="#main" class="active">
                            <div class="top">
                                <span>01.</span>
                                <a href="#">Main dishes</a>
                            </div>
                            <div class="bottom">
                                <i class="fas fa-caret-up"></i>
                            </div>
                        </li>
                        <li href="#starter">
                            <div class="top">
                                <span>02.</span>
                                <a href="#">Starter</a>
                            </div>
                            <div class="bottom">
                                <i class="fas fa-caret-up"></i>
                            </div>
                        </li>
                        <li href="#dessert">
                            <div class="top">
                                <span>03.</span>
                                <a href="#">Desserts</a>
                            </div>
                            <div class="bottom">
                                <i class="fas fa-caret-up"></i>
                            </div>
                        </li>
                        <li href="#sea">
                            <div class="top">
                                <span>04.</span>
                                <a href="#">Sea Food</a>
                            </div>
                            <div class="bottom">
                                <i class="fas fa-caret-up"></i>
                            </div>
                        </li>
                        <li href="#drinks">
                            <div class="top">
                                <span>05.</span>
                                <a href="#">Drinks</a>
                            </div>
                            <div class="bottom">
                                <i class="fas fa-caret-up"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="menu-boxes">
                    <div id="main" class="menu-content show">
                        <div class="col-lg-6 col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/7.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Prime Cuts of Beef</h6>
                                        <p>
                                            Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.
                                        </p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$34</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/7.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Prime Cuts of Beef</h6>
                                        <p>
                                            Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.
                                        </p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$34</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="starter" class="menu-content ">
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/7.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Prime Cuts of Beef</h6>
                                        <p>
                                            Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.
                                        </p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$34</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dessert" class="menu-content ">
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/7.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Prime Cuts of Beef</h6>
                                        <p>
                                            Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.
                                        </p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$34</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="sea" class="menu-content ">
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="drinks" class="menu-content ">
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/7.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Prime Cuts of Beef</h6>
                                        <p>
                                            Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.
                                        </p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$34</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6  col-md-12 col-12">

                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Soft shell crab</h6>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                    </div>
                                </div>

                                <div class="price">
                                    <span class="d-block">$29</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/3.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Fish pie</h6>
                                        <p>Integer nec lacinia arcu, vel rhoncus leo aliquet.</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$12</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/5.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Victoria's Filet Mignon</h6>
                                        <p>Usce tempus tempus maximus volutpat</p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$49</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                            <div class="context d-flex justify-content-between">
                                <div class="left d-flex">

                                    <a class="zoom" href="#">
                                        <div class="overlay">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <img src="./assets/images/menu/7.jpg">
                                    </a>
                                    <div class="menu-details">
                                        <h6>Prime Cuts of Beef</h6>
                                        <p>
                                            Pellentesque eros mi, faucibus tempor scelerisque nec, efficitur nec nunc.
                                        </p>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="d-block">$34</span>
                                    <a href="#" class="add-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="align-self-center text-dark white-separator">
                    .
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="download-btn">
                    <a href="#">Download menu in PDF <i class="icon fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec_2.png);">
    </div>
</section>
<!-- section  menus ends -->
