
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-3">

            <div class="module " style="padding:10px 0px; border:1px solid #eee;border-radius:10px;box-shadow: 0px 0px 40px 5px rgba(204,204,204,1);">
                <a asp-action="index" asp-controller="product" style="text-decoration:none;">
                    <div class="up d-flex justify-content-center">
                        <i style="font-size:75px; color:#3D64D3;" class="fal fa-folder-minus"></i>
                    </div>
                    <div>
                        <p style="font-size:30px;" class="text-dark text-center">Product</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">

            <div class="module " style="padding:10px 0px; border:1px solid #eee;border-radius:10px;box-shadow: 0px 0px 40px 5px rgba(204,204,204,1);">
                <a asp-action="index" asp-controller="category" style="text-decoration:none;">
                    <div class="up d-flex justify-content-center">
                        <i style="font-size:75px; color:#3D64D3;" class="fal fa-folder-minus"></i>
                    </div>
                    <div>
                        <p style="font-size:30px;" class="text-dark text-center">Categories</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">

            <div class="module " style="padding:10px 0px; border:1px solid #eee;border-radius:10px;box-shadow: 0px 0px 40px 5px rgba(204,204,204,1);">
                <a asp-action="index" asp-controller="coupon" style="text-decoration:none;">
                    <div class="up d-flex justify-content-center">
                        <i style="font-size:75px; color:#3D64D3;" class="fal fa-folder-minus"></i>
                    </div>
                    <div>
                        <p style="font-size:30px;" class="text-dark text-center">Coupons</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">

            <div class="module " style="padding:10px 0px; border:1px solid #eee;border-radius:10px;box-shadow: 0px 0px 40px 5px rgba(204,204,204,1);">
                <a asp-action="index" asp-controller="tag" style="text-decoration:none;">
                    <div class="up d-flex justify-content-center">
                        <i style="font-size:75px; color:#3D64D3;" class="fal fa-folder-minus"></i>
                    </div>
                    <div>
                        <p style="font-size:30px;" class="text-dark text-center">Tags</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    

</div>

