
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- section intro starts -->
    <section id="shop-intro" style="background-image: url(~/../assets/images/intro/shop.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="title text-center">
                        <p>Order food with home delivery</p>
                        <h1 class="text-white">Our Shop</h1>
                        <div class="dots">
                            <ul class="list-unstyled justify-content-center">
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-down d-flex justify-content-center">
                        <div class="text-white mouse">
                            <div class="yellow-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
    </section>
    <!-- section intro ends -->
    <!-- section  items starts-->
    <section id="items" style="        background-image: url(~/../assets/images/services/section-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="txt d-lg-flex d-md-flex d-block justify-content-between">
                        <p>Showing <span>1-8</span> of 19 results </p>
                        <div class="form-group col-md-4 col-7 p-0">

                            <select id="inputState" class="form-control">
                                <option selected>Popularity</option>
                                <option>Average rating</option>
                                <option>Price:low to high</option>
                                <option>Price:high to low</option>
                            </select>
                        </div>

                    </div>
                    <div class="list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="image">
                                        <div class="overlay">
                                            <a class="image-link" href="">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg" class="img-fluid">
                                    </div>
                                    <div class="item-detail">
                                        <div class="top">
                                            <a href="#">Soft shell crab</a>
                                            <span>Sale - 30%</span>
                                        </div>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                        <div class="bottom">
                                            <span class="price">$29</span>
                                            <a href="#" class="add-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="image">
                                        <div class="overlay">
                                            <a class="image-link" href="">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                        <img src="./assets/images/menu/10.jpg" class="img-fluid">
                                    </div>
                                    <div class="item-detail">
                                        <div class="top">
                                            <a href="#">Soft shell crab</a>
                                            <span>Sale - 30%</span>
                                        </div>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                        <div class="bottom">
                                            <span class="price">$29</span>
                                            <a href="#" class="add-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="image">
                                        <div class="overlay">
                                            <a class="image-link" href="#">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                        <img src="./assets/images/menu/1.jpg" class="img-fluid">
                                    </div>
                                    <div class="item-detail">
                                        <div class="top">
                                            <a href="#">Soft shell crab</a>
                                            <span>Sale - 30%</span>
                                        </div>
                                        <p>Seasoned with an herb crust, served with au jus and handcarved to order.</p>
                                        <div class="bottom">
                                            <span class="price">$29</span>
                                            <a href="#" class="add-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="image">
                                        <div class="overlay">
                                            <a class="image-link" href="#">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                        <img src="./assets/images/menu/2.jpg" class="img-fluid">
                                    </div>
                                    <div class="item-detail">
                                        <div class="top">
                                            <a href="#">Fish pie</a>
                                            <span>Sale - 30%</span>
                                        </div>
                                        <p>Our tender, juicy filet paired with a steamed tempor lobster tail.</p>
                                        <div class="bottom">
                                            <span class="price">$29</span>
                                            <a href="#" class="add-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="image">
                                        <div class="overlay">
                                            <a class="image-link" href="#">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                        <img src="./assets/images/menu/4.jpg" class="img-fluid">
                                    </div>
                                    <div class="item-detail">
                                        <div class="top">
                                            <a href="#">Fish pie</a>
                                            <span>Chef selection</span>
                                        </div>
                                        <p>Our tender, juicy filet paired with a steamed tempor lobster tail.</p>
                                        <div class="bottom">
                                            <span class="price">$29</span>
                                            <a href="#" class="add-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <div class="image">
                                        <div class="overlay">
                                            <a class="image-link" href="#">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>
                                        <img src="./assets/images/menu/6.jpg" class="img-fluid">
                                    </div>
                                    <div class="item-detail">
                                        <div class="top">
                                            <a href="#">Fish pie</a>
                                            <span>Sale - 20%</span>
                                        </div>
                                        <p>Our tender, juicy filet paired with a steamed tempor lobster tail.</p>
                                        <div class="bottom">
                                            <span class="price">$29</span>
                                            <a href="#" class="add-btn">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination">
                                    <ul class="list-unstyled d-flex ">
                                        <li><a href="#" class="prev-btn"><i class="fal fa-long-arrow-left"></i></a></li>
                                        <li class="on"><a href="#" class="page"><span>01.</span></a></li>
                                        <li><a href="#" class="page"><span>02.</span></a></li>
                                        <li><a href="#" class="page"><span>03.</span></a></li>
                                        <li><a href="#" class="page"><span>04.</span></a></li>
                                        <li><a href="#" class="next-btn"><i class="fal fa-long-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="sidebar">
                        <div class="search">
                            <div class="col-md-12 justify-content-center d-flex align-items-center">
                                <input type="text" class="form-control" placeholder="Search...">
                                <a href="#" class="search-btn"><i class="text-white fas fa-search"></i></a>
                            </div>


                        </div>
                        <div class="filter">
                            <p>Price Filter</p>
                            <div class="row mt-3">
                                <div class="col-lg-9 col-md-9 col-9">
                                    <input type="text" id="range" class="js-range-slider" name="my_range" value="" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-3 p-0 d-flex justify-content-center align-items-center">
                                    <a href="#" class="update-btn">Update</a>
                                </div>
                            </div>
                        </div>
                        <div class="popular">
                            <p class="popular-text">Popular Products</p>

                            <ul class="list-unstyled mt-3">
                                <li class="popular-product d-flex">
                                    <div class="small-image mr-3">
                                        <img src="./assets/images/menu/10.jpg" class="img-fluid" style="width: 90px; height: auto;">
                                    </div>
                                    <div class="small-txt">
                                        <p class="text">Victoria's Filet Mignon</p>
                                        <div class="small-price d-flex">
                                            <span class="pricetxt">Price:<span class="digit">$24</span></span>
                                            <span class="reviews">0 Reviews</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="popular-product d-flex">
                                    <div class="small-image mr-3">
                                        <img src="./assets/images/menu/9.jpg" class="img-fluid" style="width: 90px; height: auto;">
                                    </div>
                                    <div class="small-txt">
                                        <p class="text">Prime Cuts of Beef</p>
                                        <div class="small-price d-flex ">
                                            <span class="pricetxt">Price:<span class="digit">$54</span></span>
                                            <span class="reviews">2 Reviews</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="popular-product d-flex">
                                    <div class="small-image mr-3">
                                        <img src="./assets/images/menu/7.jpg" class="img-fluid" style="width: 90px; height: auto;">
                                    </div>
                                    <div class="small-txt">
                                        <p class="text">Meatball tagliatelle</p>
                                        <div class="small-price d-flex ">
                                            <span class="pricetxt">Price:<span class="digit">$47</span></span>
                                            <span class="reviews">5 Reviews</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="categories mt-5">
                            <p class="categorytxt">Categories</p>

                            <ul class="list-unstyled mt-3">
                                <li class="category-link"><a href="#" class="category-btn">Seafood</a> <span>12</span></li>
                                <li class="category-link"><a href="#" class="category-btn">Drinks</a> <span>8</span></li>
                                <li class="category-link"><a href="#" class="category-btn">Desserts</a> <span>7</span></li>
                                <li class="category-link"><a href="#" class="category-btn">Starter</a> <span>14</span></li>
                                <li class="category-link"><a href="#" class="category-btn">Main Dishes</a> <span>5</span></li>
                            </ul>
                        </div>

                        <div class="tags mt-5">
                            <p class="tagtxt">Recent tags</p>

                            <ul class="list-unstyled mt-3 ">
                                <li class="taglink"><a href="#">Lifestyle</a></li>
                                <li class="taglink"><a href="#">Travel</a></li>
                                <li class="taglink"><a href="#">Trip</a></li>
                                <li class="taglink"><a href="#">Outdoor</a></li>
                                <li class="taglink"><a href="#">Camping</a></li>
                                <li class="taglink"><a href="#">Adventure</a></li>
                                <li class="taglink"><a href="#">Photos</a></li>
                                <li class="taglink"><a href="#">Adventure</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec_2.png);"></div>
    </section>
    <!-- section items ends -->

