@model Event 
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Detail</h2>
    <div class="card-group">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Title: @Model.Title</h5>
                <p class="card-text">Venue: @Model.Desc</p>
                <p class="card-text">Event Date: @Model.EventDate.ToString("dd MMM")</p>

            </div>
        </div>
    </div>
    <form method="post" asp-action="delete">
        <input name="id" value="@Model.Id" hidden />
        <button type="submit" class="btn btn-outline-danger mt-md-3"> Delete</button>
    </form>
</div>


