
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section contact-intro starts -->
<section id="contact-intro" style="background-image: url(~/../assets/images/contact/google-map-background.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="contact-details d-lg-flex d-md-flex d-none justify-content-center align-content-center">
                    <div class="contact-inner">
                        <p class="text-center">Contact Details</p>
                        <ul class="list-unstyled">
                            <li class="d-flex"><i class="fal fa-map-marked-alt"></i><p>Address:</p><a href="#">USA 27TH Brooklyn NY</a></li>
                            <li class="d-flex"><i class="fal fa-phone-rotary"></i></i><p>Phone:</p><a href="#">+7(123)987654</a></li>
                            <li class="d-flex"><i class="fal fa-mailbox"></i></i><p>Mail:</p><a href="#">yourmail@domain.com</a></li>
                        </ul>
                        <div class="dots">
                            <ul class="list-unstyled justify-content-center">
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section contact-intro ends -->
<!-- section touch starts -->
<section id="touch" style="background-image: url(./assets/images/services/section-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 ">
                <div class="contact-details d-lg-none d-md-none d-flex justify-content-start align-content-center">
                    <div class="contact-inner">
                        <p class="text-left">Contact Details</p>
                        <ul class="list-unstyled">
                            <li class="d-flex"><i class="fal fa-map-marked-alt"></i><p>Address:</p><a href="#">USA 27TH Brooklyn NY</a></li>
                            <li class="d-flex"><i class="fal fa-phone-rotary"></i></i><p>Phone:</p><a href="#">+7(123)987654</a></li>
                            <li class="d-flex"><i class="fal fa-mailbox"></i></i><p>Mail:</p><a href="#">yourmail@domain.com</a></li>
                        </ul>
                        <div class="dots">
                            <ul class="list-unstyled justify-content-center">
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contact-inputs">
                    <div class="title">
                        <h1>Get in touch</h1>
                    </div>
                    <div class="dots">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                    <div class="text py-5">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>
                    </div>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-5 ">

                                <input type="text" class="form-control" id="contact-name" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-5 ">

                                <input type="email" class="form-control" id="contact-email" placeholder="Email Address*">
                            </div>
                            <div class="form-group col-md-5 ">

                                <input type="number" min="0" step="1" class="form-control" id="contact-phone" placeholder="Phone*">
                            </div>
                            <div class="form-group col-md-5 ">

                                <select id="inputState" class="form-control" required>
                                    <option disabled selected>Subject</option>
                                    <option>Upcoming Events</option>
                                    <option>Book Inside</option>
                                    <option>Banquet</option>
                                </select>
                            </div>
                            <div class="form-group col-md-10 ">

                                <textarea class="form-control" id="contact-message" rows="3" placeholder="Your Message:"></textarea>
                            </div>
                            <div class="form-group col-md-10 ">

                                <span class="contact-success">
                                    Message has been sent
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="mb-3 contact-link d-flex justify-content-start">
                        <a href="#" class="text-center btn contact-btn">Send Message<i class="icon fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 p-0">
                <div class="hours-contact d-flex flex-column" style="        background-image: url(~/../assets/images/opening/leaves.png);">
                    <div class="title text-center">
                        <p>Call For Reservations</p>
                        <h1 class="text-white">Opening Hours</h1>

                    </div>
                    <div class="dots align-self-center">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>

                    <div class="opening-info d-flex">
                        <div class="col-lg-6 p-0 d-flex flex-column align-items-center ">
                            <h6>Sunday to Tuesday</h6>
                            <span class="text-white">09:00</span>
                            <span class="text-white">22:00</span>
                        </div>
                        <div class="col-lg-6 p-0 d-flex flex-column align-items-center">
                            <h6>Friday to Saturday</h6>
                            <span class="text-white">11:00</span>
                            <span class="text-white">19:00</span>
                        </div>

                    </div>
                    <div class="align-self-center text-white white-separator">
                        .
                    </div>

                    <div class="call-number text-center">
                        <a href="#">+7(111)123456789</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer-touch" style="        background-image: url(~/../assets/images/section-footer/brush-dec_2.png);">
</section>
<!-- section touch ends -->
