@model Table
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Detail</h2>
    <div class="card-group">
        <div class="card pl-3">

            <div class="card-body">
                <h5 class="card-title">Date: @Model.Date.ToString("dd mm yyyy")</h5>

                <h5 class="card-title">StartTime: @Model.StartTime.ToString("HH:mm")</h5>

                <h5 class="card-title">EndTime: @Model.EndTime.ToString("HH:mm")</h5>



            </div>
        </div>
    </div>
    <form method="post" asp-action="delete" class="mt-2">
        <input name="id" value="@Model.Id" hidden />
        <button type="submit" class="btn btn-outline-danger"> Delete</button>
    </form>
</div>


