@model Table
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
   
}

<div class="container-fluid">
    <h2>Detail</h2>
    <div class="card-group">
        <div class="card pl-3">
           
            <div class="card-body">
                <h5 class="card-title">Date: @Model.Date.ToString("dd MM yyyy")</h5>
                <h5 class="card-title">StartTime: @Model.StartTime.ToString("HH:mm")</h5>
                <h5 class="card-title">EndTime: @Model.EndTime.ToString("HH:mm")</h5>





            </div>
        </div>
    </div>
    <div>
        <a asp-action="index" asp-controller="table" class="btn btn-outline-success mt-md-2">Back</a>
    </div>
</div>

