#contact-intro{
  padding: 250px 0;
  z-index: 1;
  

  .contact-details{
      
    background: #f9f9f9;
    padding: 25px 30px;

   

    .contact-inner{
        padding: 40px 40px 50px;
        border: 1px dotted #ccc;
        background: #fff;
       

        p{
            color: $mainColor;

        }

        ul{

            li{
                i{
                    color: $mainColor;
                    margin-right: 10px;
                }
                p{
                    color: black;
                    font-size: 13px;
                    font-weight: 500;
                    margin-right: 10px;
                }

                a{
                    text-decoration: none;
                    font-weight: 600;
                    color: black;
                    font-size: 13px;
                }
            }
        }

        .dots{
            color: $mainColor;
        }
    }
  }
}